name: SemVer Release Reusable Workflow

# Tag repository using SemVer. Merging in develop tagged the repo with beta version.
# Merging to main tag with release and create a release with release notes based
# on the PR titles. The minor version is bumped by default in the main branch.
# To bump the major or patch version when merging to main, add #major or #patch
# in the PR title.

# Usage example
# on:
#   push:
#     branches:
#       - main
#       - develop

# jobs:
#   release:
#     uses: swissgeo/.github/.github/workflows/semver.yml@main

on:
  workflow_call:

jobs:
  semver-release:
    name: Release SemVer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: '10'

    # Here below we check if the last commit message contains the flag #skip-tagging-and-release
    # If the flag is present, we skip the tagging and release creation
    # This is needed in order to be able to modify the `release.yml` configuration file that is
    # managed by terraform and directly push on main branch. Without this the modification of
    # this configuration file for generating release note would trigger a new empty release.
    - name: Check last commit message
      id: commit-message
      run: |
        if git log -1 --pretty=%B | grep -qP '(?<!\S)#skip-tagging-and-release(?!\S)'; then
          echo "skip_release=true" >> $GITHUB_OUTPUT
        else
          echo "skip_release=false" >> $GITHUB_OUTPUT
        fi

    # Details and Docu
    # https://github.com/geoadmin/github-tag-action
    # https://github.com/geoadmin/doc-guidelines/blob/master/GIT_FLOW.md#versioning
    - name: Bump version and push tag
      id: tagging
      if: ${{ steps.commit-message.outputs.skip_release != 'true' }}
      uses: geoadmin/github-tag-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        WITH_V: true
        DEFAULT_BUMP: minor
        RELEASE_BRANCHES: main
        TAG_CONTEXT: repo
        VERBOSE: true

    - name: Create new release with auto generated release note
      # Do not generate release for beta release tagged on develop branch.
      if: ${{ github.ref == 'refs/heads/main' && steps.commit-message.outputs.skip_release != 'true' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # NOTE: the release.yml file used to configure the release notes generator is managed by terraform
        # in swissgeo/infra-terraform repository
        gh release create "${{ steps.tagging.outputs.new_tag }}" --generate-notes --repo "${{ github.repository }}"
